.sidebar {
  width: 250px;
  background: #333;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #ccc;
  transition: transform 0.35s ease-in-out;
  z-index: 999;
}

.sidebar ul {
  list-style: none;
  margin-top: 30px;
}

.sidebar ul li {
  margin: 18px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar ul li a.active {
  color: #ff06b4;
  font-weight: 600;
}

/* MOBILE BEHAVIOR */
@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}


