.page {
  background: #c51717;
  color: #fff;
  padding: 25px;
  margin-left: 240px;
  margin-top: 15px;
  border-radius: 10px;
  width: calc(100% - 260px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}



/* full width + scroll-safe */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* main table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;       /* forces perfect column alignment */
  background: #222;
  margin-top: 30px;
}

/* aligned cells */
.custom-table th,
.custom-table td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

/* header */
.custom-table th {
  font-weight: 600;
  background: #222;
  color: #fff;
}

.custom-table td{
  color: #fff;
}
.custom-table tbody tr:hover {
  background: #fafafa;
}

/* responsive */
@media (max-width: 900px) {
  .page {
    margin-left: 0;
    width: 100%;
  }

  .custom-table th,
  .custom-table td {
    white-space: normal;   /* allow wrapping */
    word-break: break-word; /* prevents text pushing rows */
    font-size: 14px;
    padding: 12px 8px;
  }
}



